/* ********************* TAG STYLE *********************** */


body {
  background-color: #f5f4f4;
}

h1, h2, h3 {
  color: #00303f;
}

hr {
  background-color: #00303f;
  width: 90%;
  height: 2px;
}

/* ********************* CLASS STYLE *********************** */
.profile_header {
  background-color: #f5f4f4;
}
/* ********************* ID STYLE *********************** */
